<html>
    <body>
       <div class="wrap">
          <div class="sidebar"> 
               <h1>Fund Transfer </h1>
             <ul>
                  <li><a routerLink="/dashboard">Dashboard</a></li><br>
                  <li><a routerLink="/account-details">Account Details</a></li><br>
                  <li><a routerLink="/fund-transfer">Fund Transfer</a></li><br>
                  <li><a routerLink="/account-statement">Account Statement</a></li>
              </ul>
           </div>
           <section class="main">
               
                <h1>Fund Transfer</h1>
                <table border="1" class="t6">
                    <tr>
                        <th><h4><a routerLink="/add-payee">Add Beneficiary</a></h4></th>
                    </tr>
                </table>
                <table border="1" class="t7">
                   
                    <tr>
                        <th><h4><a routerLink="/imps">IMPS Payment</a></h4> </th>
                        <th><h4><a routerLink="/rtgs">RTGS Payment</a></h4></th>
                        <th><h4><a routerLink="/neft">NEFT Payment</a></h4></th>
                       
                  </tr>
                </table>
               
               <h4><a routerLink="/add-payee">ADD Benificary</a></h4>
                
                
           </section>
        </div>
    </body>
</html>



