<body><br><br>
    <h2 id="q">
        Open A Savings Account
    </h2 >


    
<form [formGroup]="form" (ngSubmit)="save()">

    <table id="t3" class="form-group">
        <tr>
            <th>Personal Details</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="title">Title</label></td>
            <td>-</td>
            <td><select name="title" formControlName="title" >
                <option value="Mr">Mr</option>
                <option value="Ms">Ms</option>
                <option value="Mrs">Mrs</option>
            </select>
            <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
                <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required</div>
            </div></td><br>
        </tr>
        <tr>
            <td><label for="first">FirstName</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter FirstName" formControlName="first">
                <div *ngIf="f['first'].touched && f['first'].invalid" class="alert alert-danger">
                    <div *ngIf="f['first'].errors && f['first'].errors['required']">first name is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label for="middle">Middle Name</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter MiddleName" formControlName="middle">
            </td>
        </tr>
        <tr>
            <td><label for="last">Last Name</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter LastName" formControlName="last">
                <div *ngIf="f['last'].touched && f['last'].invalid" class="alert alert-danger">
                    <div *ngIf="f['last'].errors && f['last'].errors['required']">last name is required</div>
                </div></td><br>
        </tr>
        <!-- <tr>
            <td><label for="father">Father Name</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter FatherName" formControlName="father">
                <div *ngIf="f['father'].touched && f['father'].invalid" class="alert alert-danger">
                    <div *ngIf="f['father'].errors && f['father'].errors['required']">father name is required</div>
                </div></td><br>
        </tr> -->
        <tr>
            <td><label for="mobile">Mobile Number</label></td>
            <td>-</td>
            <td><input type="number" placeholder="Enter MobileNumber" formControlName="mobile">
            <div *ngIf="f['mobile'].touched && f['mobile'].invalid" class="alert alert-danger">
                <div *ngIf="f['mobile'].errors && f['mobile'].errors['required']">Mobile number is required</div>
            </div></td><br>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td>-</td>
            <td><input type="email" placeholder="Enter Email" formControlName="email">
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors && f['email'].errors['email']">Enter correct email address</div>
            </div></td><br>
        </tr>
        <tr>
            <td><label for="aadhar">Aadhar Number</label></td>
            <td>-</td>
            <td><input type="number" placeholder="Enter AadharNumber" formControlName="aadhar">
                <div *ngIf="f['aadhar'].touched && f['aadhar'].invalid" class="alert alert-danger">
                    <div *ngIf="f['aadhar'].errors && f['aadhar'].errors['required']">Aadhar is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label for="dob">Date of Birth</label></td>
            <td>-</td>
            <td><input type="date" placeholder="Enter DOB" formControlName="dob">
                <div *ngIf="f['dob'].touched && f['dob'].invalid" class="alert alert-danger">
                    <div *ngIf="f['dob'].errors && f['dob'].errors['required']">Date of Birth is required</div>
                </div></td><br>
        </tr>
        <!-- <tr>
            <th> Address</th>
            <td></td>
            <td></td>
        </tr><br>
        <tr>
            <td><label for="add">a)Address Line1</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter Address" formControlName="add">
                <div *ngIf="f['add'].touched && f['add'].invalid" class="alert alert-danger">
                    <div *ngIf="f['add'].errors && f['add'].errors['required']">Address is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td>b)Address Line2</td>
            <td>-</td>
            <td><input type="text" placeholder="Enter Address" ></td>
        </tr>
        <tr>
            <td><label for="land">c)LandMark</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter LandMark" formControlName="land">
                <div *ngIf="f['land'].touched && f['land'].invalid" class="alert alert-danger">
                    <div *ngIf="f['land'].errors && f['land'].errors['required']">Landmark is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label for="state">d)State</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter State" formControlName="state">
                <div *ngIf="f['state'].touched && f['state'].invalid" class="alert alert-danger">
                    <div *ngIf="f['state'].errors && f['state'].errors['required']">State is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label for="city">e)City</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter city" formControlName="city">
                <div *ngIf="f['city'].touched && f['city'].invalid" class="alert alert-danger">
                    <div *ngIf="f['city'].errors && f['city'].errors['required']">City is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label for="pin">f)PinCode</label></td>
            <td>-</td>
            <td><input type="number" placeholder="Enter PinCode" formControlName="pin">
                <div *ngIf="f['pin'].touched && f['pin'].invalid" class="alert alert-danger">
                    <div *ngIf="f['pin'].errors && f['pin'].errors['required']">Pincode is required</div>
                </div></td><br>
        </tr><br>
        <tr>
            <th>Permanent Address</th>
            <td></td>
            <td></td>
        </tr><br>
        <tr>
            <td><input type="checkbox"> Permanent Address Same as Residential Address</td>
            <td></td>
            <td></td>
        </tr><br>
        <tr>
            <td><label for="add">a)Address Line1</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter Address" formControlName="add">
                <div *ngIf="f['add'].touched && f['add'].invalid" class="alert alert-danger">
                    <div *ngIf="f['add'].errors && f['add'].errors['required']">Address is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label>b)Address Line2</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter Address" >
                
            </td>
        </tr>
        <tr>
            <td><label for="land">c)LandMark</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter LandMark" formControlName="land">
                <div *ngIf="f['land'].touched && f['land'].invalid" class="alert alert-danger">
                    <div *ngIf="f['land'].errors && f['land'].errors['required']">Landmark is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label for="state">d)State</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter State" formControlName="state">
                <div *ngIf="f['state'].touched && f['state'].invalid" class="alert alert-danger">
                    <div *ngIf="f['state'].errors && f['state'].errors['required']">State is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label for="city">e)City</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter city" formControlName="city">
                <div *ngIf="f['city'].touched && f['city'].invalid" class="alert alert-danger">
                    <div *ngIf="f['city'].errors && f['city'].errors['required']">City is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label for="pin">f)PinCode</label></td>
            <td>-</td>
            <td><input type="number" placeholder="Enter PinCode" formControlName="pin">
                <div *ngIf="f['pin'].touched && f['pin'].invalid" class="alert alert-danger">
                    <div *ngIf="f['pin'].errors && f['pin'].errors['required']">Pincode is required</div>
                </div></td><br>
        </tr><br>
        <tr>
            <th>Occupation Detail</th>
            <td></td>
            <td></td>
        </tr><br>
        <tr>
            <td><label for="otype">Occupation Type</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter OccupationType" formControlName="otype">
                <div *ngIf="f['otype'].touched && f['otype'].invalid" class="alert alert-danger">
                    <div *ngIf="f['otype'].errors && f['otype'].errors['required']">Occupation is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label for="si">Source Of Income</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter source of Income" formControlName="si">
                <div *ngIf="f['otype'].touched && f['otype'].invalid" class="alert alert-danger">
                    <div *ngIf="f['otype'].errors && f['otype'].errors['required']">Source is required</div>
                </div></td><br>
        </tr>
        <tr>
            <td><label for="gai">Gross Annual Income</label></td>
            <td>-</td>
            <td><select name="annualincome" formControlName="gai">
                <option value="None">Select</option>
                <option value="Below 3Lakhs ">Below 3Lakhs</option>
                <option value="3 Lakhs to 5 Lakhs">3 Lakhs to 5 Lakhs</option>
                <option value="5 Lakhs to 7 Lakhs">5 Lakhs to 7 Lakhs</option>
                <option value="7 Lakhs to 10 Lakhs">7 Lakh to 10 Lakhs</option>
                <option value="Above 10 Lakhs">Above 10 Lakhs</option>
            </select><div *ngIf="f['gai'].touched && f['gai'].invalid" class="alert alert-danger">
                <div *ngIf="f['gai'].errors && f['gai'].errors['required']">Annual Income is required</div>
            </div></td><br>
        </tr> -->
        
        <tr>
            <td><label for="add">Address</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter address" formControlName="add">
                <div *ngIf="f['add'].touched && f['add'].invalid" class="alert alert-danger">
                    <div *ngIf="f['add'].errors && f['add'].errors['required']">Address is required</div>
                </div></td>
        </tr>
        <tr>
            <td><label for="otype">Occupation</label></td>
            <td>-</td>
            <td><input type="text" placeholder="Enter OccupationType" formControlName="otype">
                <div *ngIf="f['otype'].touched && f['otype'].invalid" class="alert alert-danger">
                    <div *ngIf="f['otype'].errors && f['otype'].errors['required']">Occupation is required</div>
                </div></td>
        </tr><br>
        <tr>
            <th>Debit/AtM Card</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Do you want a Debit Card?</td>
            <td>-</td>
            <td><select name="debitcard">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select></td>
        </tr> 
        <br><br>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"  [disabled]="form.invalid" ></td>
            <td></td>
        </tr> 
    </table>

</form>
</body>



