
    <h2>
        Open A Savings Account
    </h2>


    <h3>Personal Details</h3>

<table>
    <tr>
        <td>Title</td>
        <td>-</td>
        <td><select name="title">
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
            <option value="Mrs">Mrs</option>
        </select></td>
    </tr>
    <tr>
        <td>FirstName</td>
        <td>-</td>
        <td><input type="text" placeholder="Enter FirstName" name="fname"></td>
    </tr>
    <tr>
        <td>Middle Name</td>
        <td>-</td>
        <td><input type="text" placeholder="Enter MiddleName" name="mname"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>-</td>
        <td><input type="text" placeholder="Enter LastName" name="lname"></td>
    </tr>
    <tr>
        <td>Father Name</td>
        <td>-</td>
        <td><input type="text" placeholder="Enter FatherName" name="faname"></td>
    </tr>
    <tr>
        <td>Mobile Number</td>
        <td>-</td>
        <td><input type="number" placeholder="Enter MobileNumber" name="mobile"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td>-</td>
        <td><input type="email" placeholder="Enter Email" name="email"></td>
    </tr>
    <tr>
        <td>Aadhar Number</td>
        <td>-</td>
        <td><input type="number" placeholder="Enter AadharNumber" name="aadhar"></td>
    </tr>
    <tr>
        <td>Date of Birth</td>
        <td>-</td>
        <td><input type="date" placeholder="Enter DOB" name="dob"></td>
    </tr>
    <tr>
        <td>Date of Birth</td>
        <td>-</td>
        <td><input type="date" placeholder="Enter DOB" name="dob"></td>
    </tr>
    <tr>
        <td>Residential Address</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>a)Address Line1</td>
        <td>-</td>
        <td><input type="text" placeholder="Enter Address" name="address1"></td>
    </tr>
    <tr>
        <td>b)Address Line2</td>
        <td>-</td>
        <td><input type="text" placeholder="Enter Address" name="address2"></td>
    </tr>
    <tr>
        <td>c)LandMark</td>
        <td>-</td>
        <td><input type="text" placeholder="Enter LandMark" name="land"></td>
    </tr>
    <tr>
        <td>d)State</td>
        <td>-</td>
        <td><input type="text" placeholder="Enter State" name="state"></td>
    </tr>
    <tr>
        <td>e)City</td>
        <td>-</td>
        <td><input type="text" placeholder="Enter city" name="city"></td>
    </tr>
    <tr>
        <td>f)PinCode</td>
        <td>-</td>
        <td><input type="number" placeholder="Enter PinCode" name="pin"></td>
    </tr>
    <tr>
        <td>Permanent Address</td>
        <td></td>
        <td></td>
    </tr>
</table>


<div>
    <h3>Permanent Address</h3>
    <input type="checkbox"> Permanent Address Same as Residential Address
   
</div>
<br>
<div>
    <label for="address1"><b>Address Line1</b></label>
    <input type="text" placeholder="Enter Address" name="address1">
    <label for="address2"><b>Address Line2</b></label>
    <input type="text" placeholder="Enter Address" name="address2">
    <label for="land"><b>LandMark</b></label>
    <input type="text" placeholder="Enter LandMark" name="land">
    <label for="state"><b>State</b></label>
    <input type="text" placeholder="Enter State" name="state">
    <label for="city"><b>City</b></label>
    <input type="text" placeholder="Enter city" name="city">
    <label for="pin"><b>PinCode</b></label>
    <input type="number" placeholder="Enter PinCode" name="pin">
</div>
<div>
    <h3>Occupation Details</h3>
</div>
<div>
    <label for="occupationtype"><b>Occupation Type</b></label>
    <input type="text" placeholder="Enter OccupationType" name="occupationtype">
    <label for="sourceincome"><b>Source Of Income</b></label>
    <input type="text" placeholder="Enter source of Income" name="sourceincome">
    <label for="annualincome">Gross Annual Income</label>
       <select name="annualincome">
        <option value="None">Select</option>
        <option value="Below 3Lakhs ">Below 3Lakhs</option>
        <option value="3 Lakhs to 5 Lakhs">3 Lakhs to 5 Lakhs</option>
        <option value="5 Lakhs to 7 Lakhs">5 Lakhs to 7 Lakhs</option>
        <option value="7 Lakhs to 10 Lakhs">7 Lakh to 10 Lakhs</option>
        <option value="Above 10 Lakhs">Above 10 Lakhs</option>
    </select>
</div>
<div>
    <h3>Debit/AtM Card</h3>
</div>
<div>
    Do you want a Debit Card? <select name="debitcard">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br>
    <input type="checkbox"> Opt for Net Banking<br>
    <input type="checkbox"> I agree...
</div>
<div>
    <button type="submit">Submit</button>
</div>

