<div>
    <h1>
        Open A Savings Account
    </h1>
</div>
<div>
    <h3>Personal Details</h3>
</div>
<div>
    <label for="title"><b>Title -</b></label>
    <select name="title">
        <option value="Mr">Mr</option>
        <option value="Ms">Ms</option>
        <option value="Mrs">Mrs</option>
    </select>
    <label for="fname"><b>FirstName</b></label>
    <input type="text" placeholder="Enter FirstName" name="fname">
    <label for="mname"><b>Middle Name</b></label>
    <input type="text" placeholder="Enter MiddleName" name="mname">
    <label for="lname"><b>Last Name</b></label>
    <input type="text" placeholder="Enter LastName" name="lname">
    <label for="faname"><b>Father Name</b></label>
    <input type="text" placeholder="Enter FatherName" name="faname">
    <label for="mobile"><b>Mobile Number</b></label>
    <input type="number" placeholder="Enter MobileNumber" name="mobile">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email">
    <label for="aadhar"><b>Aadhar Number</b></label>
    <input type="number" placeholder="Enter AadharNumber" name="aadhar">
    <label for="dob"><b>Date of Birth</b></label>
    <input type="date" placeholder="Enter DOB" name="dob">
</div>
<div>
    <h3>Residential Address</h3>
</div>
<div>
    <label for="address1"><b>Address Line1</b></label>
    <input type="text" placeholder="Enter Address" name="address1">
    <label for="address2"><b>Address Line2</b></label>
    <input type="text" placeholder="Enter Address" name="address2">
    <label for="land"><b>LandMark</b></label>
    <input type="text" placeholder="Enter LandMark" name="land">
    <label for="state"><b>State</b></label>
    <input type="text" placeholder="Enter State" name="state">
    <label for="city"><b>City</b></label>
    <input type="text" placeholder="Enter city" name="city">
    <label for="pin"><b>PinCode</b></label>
    <input type="number" placeholder="Enter PinCode" name="pin">
</div>
<div>
    <h3>Permanent Address</h3>
    <input type="checkbox"> Permanent Address Same as Residential Address
   
</div>
<br>
<div>
    <label for="address1"><b>Address Line1</b></label>
    <input type="text" placeholder="Enter Address" name="address1">
    <label for="address2"><b>Address Line2</b></label>
    <input type="text" placeholder="Enter Address" name="address2">
    <label for="land"><b>LandMark</b></label>
    <input type="text" placeholder="Enter LandMark" name="land">
    <label for="state"><b>State</b></label>
    <input type="text" placeholder="Enter State" name="state">
    <label for="city"><b>City</b></label>
    <input type="text" placeholder="Enter city" name="city">
    <label for="pin"><b>PinCode</b></label>
    <input type="number" placeholder="Enter PinCode" name="pin">
</div>
<div>
    <h3>Occupation Details</h3>
</div>
<div>
    <label for="occupationtype"><b>Occupation Type</b></label>
    <input type="text" placeholder="Enter OccupationType" name="occupationtype">
    <label for="sourceincome"><b>Source Of Income</b></label>
    <input type="text" placeholder="Enter source of Income" name="sourceincome">
    <label for="annualincome">Gross Annual Income</label>
       <select name="annualincome">
        <option value="None">Select</option>
        <option value="Below 3Lakhs ">Below 3Lakhs</option>
        <option value="3 Lakhs to 5 Lakhs">3 Lakhs to 5 Lakhs</option>
        <option value="5 Lakhs to 7 Lakhs">5 Lakhs to 7 Lakhs</option>
        <option value="7 Lakhs to 10 Lakhs">7 Lakh to 10 Lakhs</option>
        <option value="Above 10 Lakhs">Above 10 Lakhs</option>
    </select>
</div>
<div>
    <h3>Debit/AtM Card</h3>
</div>
<div>
    Do you want a Debit Card? <select name="debitcard">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br>
    <input type="checkbox"> Opt for Net Banking<br>
    <input type="checkbox"> I agree...
</div>
<div>
    <button type="submit">Submit</button>
</div>

