<html>
    <body>
        <div class="wrap">
            <div class="sidebar"> 
                <h1>Dashboard </h1>
                <ul>
                    <li><a routerLink="/account-details">Account Details</a></li><br>
                    <li><a routerLink="">Account Summary</a></li><br>
                    <li><a routerLink="/fund-transfer">Fund Transfer</a></li><br>
                    <li><a routerLink="/account-statement">Account Statement</a></li>
                </ul>
            </div>
            <section class="main">
                <h1>Account Details</h1>
            </section>
        </div>
    </body>
</html>
