<p><a routerLink="/dashboard">Back</a></p>

    <h2>Forgot/Change UserID</h2>
    <h3>Enter Details</h3>

    <table  class=t5>
        <tr>
            <td>Accont Number</td>
            <td>  -  </td>
            <td><input type="number" placeholder="Enter AccountNumber" name="accountno"></td>
        </tr>
        <tr>
            <td>Enter OTP</td>
            <td>  -  </td>
            <td><input type="number" placeholder="Enter OTP" name="otp"></td>
        </tr><br>
        <tr>
            <td><button type="submit"><a routerLink="/change-userid" >Proceed</a></button></td>
            <td><button type="reset"><a routerLink="/login">Back</a></button></td>
            <td></td>
        </tr>
    </table>

