<h2 id="res">Initiate NEFT Payment</h2>

    <table class="t2" >
        <tr>
            <td> From Account </td>
            <td>  -  </td>
            <td><input type="number" placeholder="Enter Account Number" name="acno"></td>
        </tr>
        <tr>
            <td>To Account</td>
            <td>  -  </td>
            <td><input type="number" placeholder="Enter Account Number" name="acno"></td>
        </tr>
        <tr>
            <td> Amount</td>
            <td>  -  </td>
            <td><input type="number" placeholder="Enter Amount" name="Amount"></td>
        </tr>
        <tr>
            <td>Transaction Date</td>
            <td>-</td>
            <td><input type="datetime" placeholder="Enter date and time" name="date"></td>
        </tr>
        <tr>
            <td>Remarks</td>
            <td>-</td>
            <td><input type="text" placeholder="Remarks" name="re"></td>
        </tr><br>
        <tr>
            <td><input type="submit" value="Save"> &nbsp;&nbsp; <input type="reset"></td>
            <td>-</td>
            <td><input type="submit" value="Continue"></td>
        </tr>
    </table>

    



