<div>
    <label for="account number"><b>From Account Number - </b></label>
    <input type="text" placeholder="Enter Account Number" name="acno">
    <label for="account number"><b>To Account Number - </b></label>
    <input type="text" placeholder="Enter Account Number" name="acno">
    <label for="Amount"><b> Amount -</b></label>
    <input type="text" placeholder="Enter Amount" name="Amount">
    <label for="transcation"><b>Transcation Date - </b></label>
    <input type="text" placeholder="Transcation Date" name="transcation">
    <label for="Remark"><b>Remark - </b></label>
    <input type="text" placeholder="Remarks" name="Remark">
    
   
    <input type="submit">

</div>