<!-- <body>

<h2><b>User Login</b></h2><br>
<div class="row">
    <div class="col-md-4 offset-4">
      <form  class="form" [formGroup]="form" (ngSubmit)="submit()" >
        <div class="form-group">
          <label for="userid">User ID<span class="text-danger">*</span></label>
          <input type="text" formControlName="userid" class="form-control">
          <div *ngIf="f['userid'].touched && f['userid'].invalid" class="alert alert-danger">
            <div *ngIf="f['userid'].errors && f['userid'].errors['required']">Userid is required.</div>
          </div>
       </div>
   
   
        <div class="form-group">
          <label for="pass">Password<span class="text-danger">*</span></label>
        <input type="password" class="form-control"  formControlName="pass">
        <div *ngIf="f['pass'].touched && f['pass'].invalid" class="alert alert-danger">
            <div *ngIf="f['pass'].errors && f['pass'].errors['required']">password is required.</div>
             <div *ngIf="f['pass'].errors && f['pass'].errors['pattern']">Password length should be atleast 8<br> and contains atleast one uppercase,one lowercase,one numeric value<br>one special character.</div> 
           
        </div>
         </div>

         <span class="text-danger">* marked fields are mandatory</span>
         <div *ngFor="let a of hari">
         <button type="submit" class="btn btn-primary"(click)=" onSubmit(a)" [disabled]="form.invalid" >Login</button>&nbsp;&nbsp;
         &nbsp;&nbsp;<button type="submit" (click)=" onSubmit1()" class="btn btn-primary" >Signup</button>
         
        </div>
         
      </form><br><br>
    </div>
 <h4>First Time User?<a routerLink="/register" routerLinkActive="active" >Register</a> </h4>
<h4><a routerLink="/forgot-user-id" >Forgot User ID?</a></h4>
<h4><a routerLink="/forgot-password" >Forgot Password?</a></h4> 
   </div>
</body> -->
 <body><br><br><br><br>
    <h2 class="l">Login to your Account</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table id=t1 class="form-group">
        <tr>
            <td><label for="userid">User ID</label></td>
            <td>  -  </td>

            <td><input  placeholder="Enter User ID" formControlName="userid" id="userid" type="text" class="form-control" [(ngModel)]="model.userid">

           

            <div *ngIf="f['userid'].touched && f['userid'].invalid" class="alert alert-danger">
                <div *ngIf="f['userid'].errors && f['userid'].errors['required']">Userid is required.</div>
            </div></td><br>
        </tr><br>
        <tr>
            <td><label for="pass">Password</label></td>
            <td>  -  </td>
            <td><input type="password" placeholder="Enter Password" formControlName="pass" [(ngModel)]="model.Pass">
            <div *ngIf="f['pass'].touched && f['pass'].invalid" class="alert alert-danger">
                <div *ngIf="f['pass'].errors && f['pass'].errors['required']">password is required.</div>
                 <div *ngIf="f['pass'].errors && f['pass'].errors['pattern']">Password length should be atleast 8<br> and contains atleast one uppercase,one lowercase,one numeric value<br>one special character.</div> 
               
            </div></td><br>
        </tr>
        <br>
        <tr >
            <td></td>
            <td><input type="submit" value="Login" [disabled]="form.invalid" ></td>
            <td></td>
        </tr>
    </table>
</form> 
<h4>First Time User?<a routerLink="/register" routerLinkActive="active" >Register</a> </h4>
<h4><a routerLink="/change-userid" >Forgot User ID?</a></h4>
<h4><a routerLink="/set-password" >Forgot Password?</a></h4> 
</body> 




