<div>
    <h1>Login to your Account</h1>
</div>
<div>
    <label for="uid"><b> User ID - </b></label>
    <input type="text" placeholder="Enter User ID" name="uid">
    <label for="pass"><b> Password - </b></label>
    <input type="text" placeholder="Enter Password" name="pass">
    <button>Login</button><br>
    <i>First Time User?<a routerLink="/register" routerLinkActive="active" target="_blank">Register</a> </i><br>
    <i><a routerLink="/forgot-user-id" target="_blank">Forgot User ID?</a></i><br>
    <i><a routerLink="/forgot-password" target="_blank">Forgot Password?</a></i><br>
</div>