
    <h2 class="l">Login to your Account</h2>

<table  class=t1>
    <tr>
        <td>User ID</td>
        <td>  -  </td>
        <td><input type="text" placeholder="Enter User ID" name="uid"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td>  -  </td>
        <td><input type="text" placeholder="Enter Password" name="Pass"></td>
    </tr><br>
    <tr>
        <td></td>
        <td><button><a routerLink="/dashboard">Login</a></button><br></td>
        <td></td>
    </tr>
</table>

<h4>First Time User?<a routerLink="/register" routerLinkActive="active" target="_blank">Register</a> </h4>
<h4><a routerLink="/forgot-user-id" target="_blank">Forgot User ID?</a></h4>
<h4><a routerLink="/forgot-password" target="_blank">Forgot Password?</a></h4>
