<body>
<p><a routerLink="/login"><b>Back</b></a></p>
<h2>Set New Password</h2>

<form [formGroup]="form" (ngSubmit)="submit()"> 
    <table  class=t6>
        <tr>
            <td for="login">Set New Password</td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter  Password" formControlName="login">
                <div *ngIf="f['login'].touched && f['login'].invalid" class="alert alert-danger">
                    <div *ngIf="f['login'].errors && f['login'].errors['required']">Password is required.</div>
                    <div *ngIf="f['login'].errors && f['login'].errors['minlength']">Password should be 6 characters.</div>
                </div></td><br>
        </tr>
        <tr>
            <td for="con">Confirm  password</td>
            <td>  -  </td>
            <td><input type="con" placeholder="Enter Confirm password" formControlName="con">
                <div *ngIf="f['con'].touched && f['con'].invalid" class="alert alert-danger">
                    <div *ngIf="f['con'].errors && f['con'].errors['required']">Password is required.</div>
                </div></td><br>
        </tr><br><br>
        <tr>
            <td for="stp">set Transcation Password</td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter Transcation Password" formControlName="stp">
                <div *ngIf="f['stp'].touched && f['stp'].invalid" class="alert alert-danger">
                    <div *ngIf="f['stp'].errors && f['stp'].errors['required']">Password is required.</div>
                    <div *ngIf="f['stp'].errors && f['stp'].errors['minlength']">Password should be 4 characters.</div>
                </div></td><br>
        </tr>
        <tr>
            <td for="ctp">Confirm Transcation Password</td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter Confirm password" formControlName="ctp">
                <div *ngIf="f['ctp'].touched && f['ctp'].invalid" class="alert alert-danger">
                    <div *ngIf="f['ctp'].errors && f['ctp'].errors['required']">Password is required.</div>
                </div></td><br>
        </tr><br><br>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" (click)=" onSubmit()" [disabled]="form.invalid" ></td>
            <td></td>
        </tr>
    </table>
</form>   
</body>