<div><h2>
  Home
</h2>
</div>
<nav>
<div>
  <table border="1">
      <tr>
  <th>
          Login Internet Banking
  </th>
      </tr>
  <tr>
      <td><a routerLink="/login" target="_blank">Login</a></td>
      
  </tr>
  <tr>
      <td><a routerLink="/register" routerLinkActive="active" target="_blank">Register</a></td>
  </tr>
  <tr>
    <td><a routerLink="/open-account" target="_blank">Apply Online for Account</a></td>
</tr>
</table>
</div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>


