

    <h2 id="home">Home</h2>

  <nav>
  
    <table border="1" id="t" >
        <tr>
          <th>
            Login Internet Banking
          </th>
        </tr>
        <tr>
          <td><a routerLink="/login" >Login</a></td>
        
        </tr>
        <tr>
          <td><a routerLink="/register" routerLinkActive="active" >Register</a></td>
        </tr>
        <tr>
          <td><a routerLink="/open-account" target="_blank">Apply Online for Account</a></td>
        </tr>
    </table>

  </nav>


  <router-outlet></router-outlet>



