<h2 class="l">Admin Login</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
<table  class=t1>
    <tr>
        <td><label for="userid">User ID</label></td>
        <td>  -  </td>
        <td><input type="text" placeholder="Enter User ID" formControlName="userid">
            <div *ngIf="f['userid'].touched && f['userid'].invalid" class="alert alert-danger">
                <div *ngIf="f['userid'].errors && f['userid'].errors['required']">Userid is required.</div>
            </div>
        </td><br>
    </tr>
    <tr>
        <td><label for="pass">Password</label></td>
        <td>  -  </td>
        <td><input type="password" placeholder="Enter Password" formControlName="pass">
            <div *ngIf="f['pass'].touched && f['pass'].invalid" class="alert alert-danger">
                <div *ngIf="f['pass'].errors && f['pass'].errors['required']">password is required.</div>
                <div *ngIf="f['pass'].errors && f['pass'].errors['pattern']">Password length should be atleast 8<br> and contains atleast one uppercase,one lowercase,one numeric value<br>one special character.</div> 
            </div>
        </td><br>
    </tr><br>
    <tr *ngFor="let b of abhishek">
        <td></td>
        <td><button type="submit" (click)="onSubmit(b)" [disabled]="form.invalid">Login</button></td>
        <td></td>
    </tr>
</table>
</form>
