<html>
    <body>
        <div class="wrap">
            <div class="sidebar"> 
                <h1>Dashboard </h1>
                <ul>
                    <li><a routerLink="/account-details">Account Details</a></li><br>
                    <li><a routerLink="">Account Summary</a></li><br>
                    <li><a routerLink="/fund-transfer">Fund Transfer</a></li><br>
                    <li><a routerLink="/account-statement">Account Statement</a></li>
                </ul>
            </div>

            <section class="main"> 
                <table border="1" class="t8">
                    <tr>
                        
                        <th> <a routerLink="/userprofile"> User Profile</a></th>
                        <th>    <a routerLink="/change-userid">Change UserID</a></th>
                        <th>    <a routerLink="/change-password">Change Password</a></th>

                  </tr>
        
                </table>
            </section>
        </div>

</body>

</html>