

    <h2>Forgot Password</h2>
    <h3>Enter Details</h3>

    <table  class=t4>
        <tr>
            <td>User ID</td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter User ID" name="uid"></td>
        </tr>
        <tr>
            <td>Enter OTP</td>
            <td>  -  </td>
            <td><input type="number" placeholder="Enter OTP" name="otp"></td>
        </tr><br>
        <tr>
            <td><button type="submit"><a routerLink="/set-password" >Proceed</a></button></td>
            <td><button type="reset"><a routerLink="/login">Back</a></button></td>
            <td></td>
        </tr>
    </table>
      

