<p><a routerLink="/login">Back</a></p>

    <h2 class="1" >Forgot Password</h2>
    <h3 class="2" >Enter Details</h3>
    <form [formGroup]="form" (ngSubmit)="submit()">
        
    <table  id=t4 class="form-group">
        <tr>
            <td><label for="userid">User ID</label></td>
            <td>  -  </td>
            <td><input  placeholder="Enter User ID" formControlName="userid" type="text" class="form-control">
            <div *ngIf="f['userid'].touched && f['userid'].invalid" class="alert alert-danger">
                <div *ngIf="f['userid'].errors && f['userid'].errors['required']">Userid is required.</div>
                <div *ngIf="f['userid'].errors && f['userid'].errors['minlength']">Name should be 6 character.</div>
            </div></td><br>
        </tr>
        <tr>
            <td><label for="enterotp">Enter OTP</label> </td>
            <td> -  </td>
            <td><input type="number" placeholder="Enter OTP" formControlName="enterotp" id="enterotp" class="form-control">
            <div *ngIf="f['enterotp'].touched && f['enterotp'].invalid" class="alert alert-danger">
                <div *ngIf="f['enterotp'].errors && f['enterotp'].errors['required']">Userid is required.</div>
                <div *ngIf="f['enterotp'].errors && f['enterotp'].errors['minlength']">Name should be 3 character.</div>
            </div></td><br> 
        </tr>
        <tr>
            <td><button type="submit" (click)= "onSubmit()" [disabled]="form.invalid">Proceed</button></td>
            <td><button type="reset">back</button></td>
            <td></td>
        </tr>
    </table>
</form>
      
