<body>
<p><a routerLink="/login"><b>Back</b></a></p>

    <h2 class="1" >Set New Password</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
    
    <table  id=t6 class="form-group">
        <tr>
            <td><label for="userid">Login Password</label></td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter Login Password" formControlName="userid">
            <div *ngIf="f['userid'].touched && f['userid'].invalid" class="alert alert-danger">
                <div *ngIf="f['userid'].errors && f['userid'].errors['required']">Login Password is required.</div>
                <div *ngIf="f['userid'].errors && f['userid'].errors['minlength']">Password should be 3 character.</div>
            </div></td>
        </tr>
        <tr>
            <td><label for="conpass">Conform Login password</label> </td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter Confirm password" formControlName="conpass">
                <div *ngIf="f['conpass'].touched && f['conpass'].invalid" class="alert alert-danger">
                    <div *ngIf="f['conpass'].errors && f['conpass'].errors['required']">password is required.</div>
                    <div *ngIf="f['conpass'].errors && f['conpass'].errors['minlength']">Password should be 6 character.</div>
                </div></td>
        </tr><br>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" [disabled]="form.invalid" routerLink="/login"></td>
            <td></td>
        </tr>
    </table>
</form>
</body>

