<p><a routerLink="/login">Back</a></p>

    <h2 class="1" >Set New Password</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
    
    <table  id=t6 class="form-group">
        <tr>
            <td>Login Password</td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter Login Password" name="loginpass">
            <div *ngIf="f['userid'].touched && f['userid'].invalid" class="alert alert-danger">
                <div *ngIf="f['userid'].errors && f['userid'].errors['required']">Userid is required.</div>
                <div *ngIf="f['userid'].errors && f['userid'].errors['minlength']">Name should be 3 character.</div>
            </div></td>
        </tr>
        <tr>
            <td>Confirm Login password</td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter Confirm password" name="conpass">
                <div *ngIf="f['userid'].touched && f['userid'].invalid" class="alert alert-danger">
                    <div *ngIf="f['userid'].errors && f['userid'].errors['required']">Userid is required.</div>
                    <div *ngIf="f['userid'].errors && f['userid'].errors['minlength']">Name should be 3 character.</div>
                </div></td>
        </tr><br>
        <tr>
            <td></td>
            <td><button type="submit" routerLink="/login">Submit</button></td>
            <td></td>
        </tr>
    </table>
</form>


