<html>
    <body>
        <div class="wrap">
            <div class="sidebar"> 
                <h1>Account Statement </h1>
                <ul>
                    <li><a routerLink="/account-details">Account Details</a></li><br>
                    <li><a routerLink="">Account Summary</a></li><br>
                    <li><a routerLink="/fund-transfer">Fund Transfer</a></li><br>
                    <li><a routerLink="/account-statement">Account Statement</a></li>
                </ul>
            </div>
        
            <section class="main"> 
                <h1> Account Statement</h1><br><br><br><br><br><br>
                <label for="from" id="abc"><b>Statement From</b></label>&nbsp;

                 <input type="date" name="from" >  to <input type="date" name="from"> <br><br><br><br><br>
            
                <table border="1" class="t7">
                    <tr>
                        <th>Select</th>
                        <th> Account Number </th>
                        <th> Name </th>
                        <th> Account Type </th>
                        <th> Balance </th>
                  </tr>
                    <tr>
                          <td> <input type="radio"></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                    </tr>
                    
                </table> 
            
              </section>
        </div>
    </body>

</html>
