<body>
<p><a routerLink="/fund-transfer"><b>Back</b></a></p>
<h2 id="res">Add New Benficiary</h2>
<form [formGroup]="form" (ngSubmit)="save()" >

    <table class="t2" >
        <tr>
            <td><label for="bname">Benficiary Name</label> </td>
            <td>  -  </td>
            <td><input type="text" formControlName="bname" class="form-control" id="bname" placeholder="Enter Benficiary name" >
                <div *ngIf="f['bname'].touched && f['bname'].invalid" class="alert alert-danger">  
                    <div *ngIf="f['bname'].errors && f['bname'].errors['required']">Benficiary Name is required.</div>
                    <div *ngIf="f['bname'].errors && f['bname'].errors['minlength']">Does not satsify required length.</div>
                </div><br>
            
            </td>
        </tr>
        <tr>
            <td><label for="acn">Benficiary Account Number</label> </td>
            <td>  -  </td>
            <td><input type="number" formControlName="acn" class="form-control" id="acn" placeholder="Enter Account Number" >
                <div *ngIf="f['acn'].touched && f['acn'].invalid" class="alert alert-danger">  
                    <div *ngIf="f['acn'].errors && f['acn'].errors['required']">Benficiary Account number required.</div>
                    <div *ngIf="f['acn'].errors && f['acn'].errors['minlength']">Does not satsify required length.</div>
                </div><br>
            
            </td>
        </tr>
        <tr>
            <td><label for="rac"> From Account Number</label></td>
            <td>-</td>
            <td><input type="number"  formControlName="rac" class="form-control" id="rac" placeholder="Enter Nick Name" >
                <div *ngIf="f['rac'].touched && f['rac'].invalid" class="alert alert-danger">  
                    <div *ngIf="f['rac'].errors && f['rac'].errors['required']">Please enter from account no.</div>
                    
                </div><br>
            </td>
        </tr>
        <tr>
            <td><label for="nic"> Nick Name </label></td>
            <td>-</td>
            <td><input type="text"  formControlName="nic" class="form-control" id="nic" placeholder="Enter Nick Name" >
                <div *ngIf="f['nic'].touched && f['nic'].invalid" class="alert alert-danger">  
                    <div *ngIf="f['nic'].errors && f['nic'].errors['required']">Please enter Nick Name.</div>
                    
                </div><br>
            
            </td>
        </tr><br>
        <tr>
            <td></td>
            <td><input type="submit"  [disabled]="form.invalid" > </td>
            <td></td>
        </tr>
    </table>
</form>
</body>