<p><a routerLink="/fund-transfer">Back</a></p>
<h2 id="res">Add New Benficiary</h2>

    <table class="t2" >
        <tr>
            <td>Benficiary Name </td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter Benficiary name" name="bname"></td>
        </tr>
        <tr>
            <td> Benficiary Account Number</td>
            <td>  -  </td>
            <td><input type="number" placeholder="Enter Account Number" name="Acno"></td>
        </tr>
        <tr>
            <td> Re-Enter Account Number</td>
            <td>  -  </td>
            <td><input type="number" placeholder="Re-Enter Account Number" name="RAc"></td>
        </tr>
        <tr>
            <td>Nick Name</td>
            <td>-</td>
            <td><input type="text" placeholder="Enter Nick Name" name="Nname"></td>
        </tr><br>
        <tr>
            <td></td>
            <td><input type="submit" value="Save"></td>
            <td></td>
        </tr>
    </table>
