<p><a routerLink="/dashboard">Back</a></p>

    <h2 class="1">Set New UserID</h2>
    
    
    <table  id=t6>
        <tr>
            <td>New UserID</td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter UserID" name="loginpass"></td>
        </tr>
        <tr>
            <td>Confirm UserId</td>
            <td>  -  </td>
            <td><input type="text" placeholder=" Confirm UserID" name="conpass"></td>
        </tr><br>
        <tr>
            <td></td>
            <td><button type="submit" routerLink="/login">Submit</button></td>
            <td></td>
        </tr>
    </table>
