
    <h2 id="res">Register For Internet Banking</h2>

    <table class="t2" >
        <tr>
            <td>Account Number</td>
            <td>  -  </td>
            <td><input type="text" placeholder="Enter Account Number" name="acno"></td>
        </tr>
        <tr>
            <td> Set UserID</td>
            <td>  -  </td>
            <td><input type="text" placeholder="Set User ID" name="UseID"></td>
        </tr>
        <tr>
            <td> Set Login Password</td>
            <td>  -  </td>
            <td><input type="text" placeholder="Set Login Password" name="loginpass"></td>
        </tr>
        <tr>
            <td>Confirm Login Password</td>
            <td>-</td>
            <td><input type="text" placeholder="Confirm Login Password" name="conloginpass"></td>
        </tr>
        <tr>
            <td>Set Transcation Password</td>
            <td>-</td>
            <td><input type="text" placeholder="Set Transcation Password" name="transcation"></td>
        </tr>
        <tr>
            <td>Confirm Transcation Password</td>
            <td>-</td>
            <td><input type="text" placeholder="Confirm Transcation Password" name="contranscation"></td>
        </tr>
        <tr>
            <td>Confirm Transcation Password</td>
            <td>-</td>
            <td><input type="text" placeholder="Confirm Transcation Password" name="contranscation"></td>
        </tr><br>
        <tr>
            <td></td>
            <td><input type="submit" routerLink="/login"></td>
            <td></td>
        </tr>
    </table>
   

