<div>
    <h1>Register For Internet Banking</h1>
</div>
<div>
    <label for="acno"><b>Account Number -</b></label>
    <input type="text" placeholder="Enter Account Number" name="acno">
    <label for="loginpass"><b> Set Login Password - </b></label>
    <input type="text" placeholder="Set Login Password" name="loginpass">
    <label for="conloginpass"><b> Confirm Login Password -</b></label>
    <input type="text" placeholder="Confirm Login Password" name="conloginpass">
    <label for="transcation"><b> Set Transcation Password - </b></label>
    <input type="text" placeholder="Set Transcation Password" name="transcation">
    <label for="contranscation"><b>Confirm Transcation Password - </b></label>
    <input type="text" placeholder="Confirm Transcation Password" name="contranscation">
    <label for="otp"><b>Enter OTP -</b></label>
    <input type="text" placeholder="Enter OTP" name="otp">
   
    <input type="submit">

</div>
